BODY{
font-size:0.9em;
color:#000;
font-family:verdana,arial,helvetica}

TD.side{background-color:#ddd}

DT{font-size:1em;
color:#000;
font-family:verdana,arial,helvetica}

A:link{color:#c36;
text-decoration:none}

A:hover{color:red;
text-decoration:underline}

A.GUTTER3{font-size:75%;
color:#fff;
font-family:arial,helvetica,sans-serif;
text-decoration:none}

.GUTTER3{font-size:75%;
color:#fff;
font-family:arial,helvetica,sans-serif;
text-decoration:none}